<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>MDItemKeywords</key>
	<array>
		<string>dictation</string>
		<string>speech to text</string>
		<string>transcription</string>
		<string>voice</string>
		<string>productivity</string>
	</array>
	<key>MPSupportedArchitectures</key>
	<array>
		<string>arm64</string>
		<string>x86_64</string>
	</array>
	<key>NSUpdateSecurityPolicy</key>
	<dict>
		<key>AllowProcesses</key>
		<dict>
			<key>MEHY5QF425</key>
			<array>
				<string>com.setapp.DesktopClient.SetappAgent</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
